{
  email admin@tgmcrm.ru
  acme_ca https://acme-v02.api.letsencrypt.org/directory
}

tgmcrm.ru {
  encode gzip

  @apiPath path /api/*
  handle @apiPath {
    reverse_proxy backend:8000
  }

  handle {
    reverse_proxy frontend:3000
  }
}

www.tgmcrm.ru {
  redir https://tgmcrm.ru{uri} permanent
}
